<div class="login-wrapper mt-3">
  <h2>Zaloguj się</h2>
  <form (ngSubmit)="onLogin(form)" #form="ngForm">
    <div>
      <mat-form-field>
        <mat-label>Nazwa użytkownika</mat-label>
        <input
          required
          minlength="4"
          maxlength="30"
          matInput
          name="username"
          ngModel
          #firstname="ngModel"
          [(ngModel)]="userData.username"
        />
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="
        form.controls['username']?.invalid &&
        form.controls['username']?.touched &&
        form.controls['username']?.dirty
      "
    >
      <app-alert
        [text]="'Ta kontrolka musi mieć od 4 do 30 znaków'"
      ></app-alert>
    </ng-container>
    <div>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          required
          matInput
          [type]="hide ? 'password' : 'text'"
          name="password"
          ngModel
          #password="ngModel"
          [(ngModel)]="userData.userPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="
        form.controls['password']?.invalid &&
        (form.controls['password']?.touched || form.controls['password']?.dirty)
      "
    >
      <app-alert [text]="'Ta kontrolka nie może być pusta'"></app-alert>
    </ng-container>
    <div class="d-flex justify-content-end">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Zaloguj się
      </button>
    </div>
    <div>
      <p class="text-center">
        Nie masz konta? <a routerLink="/rejestracja">Zarejestruj się</a>
      </p>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
