<div class="client-form-wrapper mt-3">
  <h2>Dodaj nowego klienta</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onAddClient()">
    <div>
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstname" />
        <mat-error *ngIf="controls.firstname.invalid">{{
          getErrorMessage(controls.firstname)
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="surename" />
        <mat-error *ngIf="controls.surename.invalid">{{
          getErrorMessage(controls.surename)
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Adres zamieszkania</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="controls.address.invalid">{{
          getErrorMessage(controls.address)
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Kod pocztowy</mat-label>
        <input matInput formControlName="postcode" />
        <mat-error *ngIf="controls.postcode.invalid">{{
          getErrorMessage(controls.postcode)
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Adres email</mat-label>
        <input
          matInput
          placeholder="przyklad@gmail.com"
          [formControl]="controls.email"
        />

        <mat-error *ngIf="controls.email.invalid">{{
          getErrorMessage(controls.email)
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-end">
      <button
        [disabled]="clientForm.invalid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Dodaj nowego klienta
      </button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
