<mat-form-field appearance="fill" class="prefix">
  <mat-label>Kierunkowy</mat-label>
  <input matInput formControlName="password" />

  <!-- <mat-error *ngIf="controls.password.invalid">{{
    getErrorMessage(controls.password)
  }}</mat-error> -->
</mat-form-field>

<mat-form-field appearance="fill" class="prefix">
  <mat-label>Numer telefonu</mat-label>
  <input matInput formControlName="password" />

  <!-- <mat-error *ngIf="controls.password.invalid">{{
    getErrorMessage(controls.password)
  }}</mat-error> -->
</mat-form-field>
